:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*body {*/
/*  width: 1440px;*/
/*}*/

@font-face {
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

h1,
h2,
h3 {
  font-family: Neucha;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}

.header {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.header-top {
  position: relative;

  margin-bottom: 185px;
}

.header-title {
  position: relative;
  z-index: 10;

  font-weight: 400;
  font-size: 72px;
  font-style: normal;
  line-height: 86px;
}

.background {
  position: relative;

  /* z-index: -10; */

  width: 100%;

  background-color: var(--light);
}

.background::before {
  position: absolute;
  top: 0;
  right: 0;

  /* z-index: -1; */

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.background-brown {
  background-color: var(--brown);
}

.container {
  position: relative;
  z-index: 10;

  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.orange-text {
  color: var(--basic);
}

.main-image {
  position: absolute;
  top: -55px;
  left: 296px;

  width: auto;
  height: 525px;
}

.header-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header-bottom-items {
  max-width: 540px;
}

.text {
  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: OpenSans;
  font-style: normal;
  line-height: 1.6;
}

.header-bottom-link {
  display: block;
  width: 100px;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  font-family: OpenSans;
  font-style: normal;
  line-height: 160%;
  text-decoration: none;

  background-color: var(--basic);
}

#video {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  /* position: relative; */
}

.video-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

#video .text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.video {
  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.video-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation {
  padding-top: 200px;
  padding-bottom: 70px;
}

#navigation .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.background-dark {
  background-color: var(--basic-dark);
}

.title-nav-item {
  width: 350px;
  margin-bottom: 20px;
}

.title-nav-item h2 {
  font-weight: 400;
  font-size: 52px;
}

.white-text {
  color: var(--white);
}

.nav-item {
  flex-basis: 350px;

  /* display: flex; */

  /* flex-direction: column; */

  /* justify-content: flex-start; */
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 24px;

  color: var(--dark);
  text-decoration: none;

  background-color: var(--light);
}

.nav-item h2 {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  margin-block-start: 0;
}

.nav-item h3 {
  margin-bottom: 16px;

  /* font-size: 64px; */

  /* line-height: 70px; */
  font-weight: 400;
}

.nav-item p {
  line-height: 26px;
}

.ie-top {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.ie-top image {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.ie-column h2 {
  margin-bottom: 30px;

  font-weight: 400;
}

.ie-column h3 {
  font-weight: 400;
}

.ie-subtitle {
  color: #908d8b;
  font-weight: 400;
  font-size: 24px;
  font-family: "Neucha";
  font-style: normal;
  line-height: 29px;
}

.line {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  column-span: all;

  background: #b09a81;
}

.line p {
  font-weight: 700;
  font-size: 14px;
  font-family: OpenSans;
  font-style: normal;
  line-height: 17px;
  text-transform: uppercase;
}

.ie-bottom-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.ie-top .image {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.section-top {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.section-column {

}

.subtitle-brown {
  color: #d7ccc0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.section-column h2 {
  margin-bottom: 30px;

  font-weight: 400;
}

.section-column h3 {
  font-weight: 400;
}

.po-line {
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--brown);

  background-color: var(--white);
}

.po-line p {
  color: var(--brown);
  font-weight: 700;
  font-size: 14px;
  font-family: OpenSans;
  font-style: normal;
  line-height: 17px;
  text-transform: uppercase;
}

.section-bottom-text {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: space-between;
}

.section-bottom-text p {
  width: 50%;
}

.section-bottom-text p span {
  display: block
}

.section-column .image {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

br {
  height: 20px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feedback-form {
  height: 190px;
  background-color: var(--basic-dark);
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.feedback-form .column {
  display: flex;
  width: 50%;
}

.feedback-form h3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  margin-top: auto;
  margin-bottom: auto;
}

.email {
  margin-top: auto;
  margin-bottom: auto;
}

.email-form {
  display: flex;
  flex-wrap: nowrap;
}

.input {
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  width: 415px;
  border: 1px solid #E3E3E3;
  vertical-align: middle;
  /*flex: 1;*/
  outline:none;
}

.input::placeholder {
  color: var(--basic-dark);
  opacity: 0.2;
  font-size: 13.1px;
}

.input-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 9px;
}

.send {
  width: 70px;
  height: 50px;
  background-color: var(--basic);
  cursor: pointer;
  border: none;
}

.send::before {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 7px;

  vertical-align: middle;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;

  content: "";
}

.text.subtitle {
  font-size: 12px;
  line-height: 160%;
}

form {
  margin:0;
  padding:0;
}

.contacts {
  margin-top: 60px;
}

.contacts-line {
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  margin-top: 16px;
}
